.about {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 8rem;
  gap: 30px;
  flex-direction: column;
}
.about-desc {
  margin-top: 0rem;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.7;
  width: 65%;
  color: black;
}

@media screen and (max-width: 1450px) {
  .about-desc {
    width: 75%;
  }
}
@media screen and (max-width: 1200px) {
  .about-desc {
    width: 85%;
  }
}
@media screen and (max-width: 1052px) {
  .about {
    margin-top: 0rem;
    padding-left: 0rem;
  }
}
@media screen and (max-width: 992px) {
  .about {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 958px) {
  .about-desc {
    width: 100%;
    text-align: left;
  }
  .about {
    padding: 0;
    align-items: center;
    padding-inline: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .about {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 664px) {
  .about-desc {
    text-align: center;
    font-size: 1.3rem;
  }
  .about {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .about {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .about {
    gap: 20px;
  }
  .about-desc {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 425px) {
  .about-desc {
    font-size: 1rem;
  }
}
