.slider-img {
  max-width: 100%;
  object-fit: contain;
}
.swiper {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .swiper {
    gap: 4rem;
  }
}
